*{
    margin: 5;
    padding: 4;
    border: 2;
    box-sizing: border-box;
}
body 
{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    background-color:aliceblue;
}
h2
{
    text-align: left;
    font-size: 30px;
    border: 3px;
}
.container 
{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
    font-size: 20px;
}
.login
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    display: block;
}
.Google {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color :white;
    color: black;
}

.Facebook {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color:white;
    color: black;
}
.submit
{
    background-color: orange;
    font-style: normal;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}
form
{
    margin-top: 20px;
}
p
{
    font-size: 12px;
    text-align: left;
}
input[type="email"],
input[type="password"]
{
    color: black;
    background-color: rgb(211, 209, 209);
    font-weight:  400px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}