* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 20px;
    font-size: 12px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;
}
.icon 
{
    font-size: 25px;
    display: flex; /* Thêm flexbox để căn chỉnh các icon */
    gap: 10px; /* Khoảng cách giữa các icon */
}
.banner {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-right: none;
}

.search-bar button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0;
    background-color: #fff;
}

nav ul li {
    margin: 0 10px;
    cursor: pointer;
}

.hero-section {
    background-image: url('https://www.josbuu.com/assets/images/banner-1.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    color: white;
    text-align: center;
    position: relative;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-text .trending {
    color: #ff4081;
    font-weight: bold;
}

.hero-text h1 {
    font-size: 36px;
    margin: 10px 0;
}

.hero-text .price {
    font-size: 24px;
}

.hero-text .price span {
    color: #ff4081;
}

.hero-text button {
    padding: 10px 20px;
    background-color: #ff4081;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.hero-text button:hover {
    background-color: #e60073;
}
.shipping_info 
{
    margin: auto;
    font-size: 22px;
}
